.Home-container {
  width: 100vw;
  margin-inline: auto;
  max-width: 2200px;
  background: url("../assets/image/highway3.jpg") no-repeat bottom fixed;
  transition: scroll ease;
  overflow-x: hidden;
  z-index: 20;
  padding-top: 60px;
  @media (min-width: 1745px) {
    background-size: 150%;
    background-position: 50% 140%;
    background-repeat: repeat;
    background-attachment: fixed;
    font-size: 150%;
  }
  .Home {
    padding-top: 120px;
    width: 45%;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 30px;
    color: white;
    font: inherit;
    margin-bottom: 0px;

    h1 {
      font-size: 50px;
    }
    .description {
      margin-bottom: 30px;
    }
  }
  &:nth-child(3) {
    margin-bottom: 20px;
  }
}

@media (max-width: 1280px) {
  .Home-container {
    .Home {
      width: 60%;
      padding-left: 100px;
    }
  }
}

@media (max-width: 1180px) {
  .Home-container {
    .Home {
      width: 65%;
      padding-left: 90px;
      h1 {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 920px) {
  .Home-container {
    .Home {
      width: 76%;
      padding-left: 80px;
    }
  }
}

@media (max-width: 822px) {
  .Home-container {
    .Home {
      padding-left: 70px;
      width: 82%;
    }
  }
}

@media (max-width: 714px) {
  .Home-container {
    .Home {
      width: 90%;
      padding-left: 60px;
    }
  }
}

@media (max-width: 675px) {
  .Home-container {
    background: white;
    padding-top: 60px;
    .Home {
      color: white;
      background: url("../assets/image/highway3.jpg");
      background-size: cover;
      background-position: 50% 190%;
      padding: 20px 50px 5px 50px;
      width: 100%;
      h1 {
        font-size: 42px;
      }
    }
  }
}

@media (max-width: 528px) {
  .Home-container {
    // background-position: 50% 100%;
    // background-attachment: fixed;
    .Home {
      padding: 30px 40px 0px 40px;
      h1 {
        font-size: 36px;
      }
    }
  }
}

@media (max-width: 416px) {
  .Home-container {
    // background: white;

    // background-attachment: fixed;

    .Home {
      padding: 30px 30px 0px 30px;
      h1 {
        font-size: 34px;
      }

      // p {
      //   font-size: 16px;
      // }
    }
  }
}

@media (max-width: 380px) {
  .Home-container {
    .Home {
      padding: 30px 20px 0px 20px;

      h1 {
        font-size: 28px;
      }
    }

    p {
      font-size: 12px;
    }
  }
}
