.mobile-nav {
  display: none;
  width: 100vw;
  height: 70px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2.4px 3.2px;
}

.mobile-nav__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.mobile-nav__item:visited,
.mobile-nav__item:active {
  text-decoration: none;
  color: black;
}

.mobile-nav__item.active {
  color: orangered;
}

.navigation_item.active::after {
  content: "";
  width: 70%;
  height: 3px;
  border-radius: 0px 0 2px 2px;
  position: absolute;
  top: 0;
  left: 15%;
  background-color: orangered;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 528px) {
  .mobile-nav {
    display: flex;
    z-index: 40;
  }
}
