.products-card {
  width: 22%;
  min-width: 250px;
  border-radius: 5px;
  aspect-ratio: 10/16;
  border: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 1%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  .card-image {
    // center no-repeat;
    // background-position: 100% 100%;
    background-size: 150%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation-play-state: paused;
    transition: scale 0.2s ease;
  }

  .tint {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
  }
  &:hover {
    .card-image {
      transition: scale 0.2s ease;
      scale: 1.15;
    }
  }

  .content {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 40px;
    color: white;

    h3 {
      font-size: 24px;
      letter-spacing: 1px;
      color: whitesmoke;
    }

    &__description {
      display: inline-block;
      margin-bottom: 10px;
      text-align: unset;
    }
  }
}

@keyframes pan-image {
  0% {
    background-position: 40% 40%;
    background-size: 200%;
  }

  33% {
    background-position: 60% 80%;
    background-size: 200%;
  }

  66% {
    background-position: 40% 80%;
    background-size: 200%;
  }
  100% {
    background-position: 70% 80%;
    background-size: 200%;
  }
}

@media (max-width: 528px) {
  .products-card {
    width: 85%;
    aspect-ratio: 16/13;
    margin-bottom: 5%;
    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }
    .description {
      margin-bottom: 10px;
    }
  }
}
