@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&family=Lumanosimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Lumanosimo", cursive;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scrollbar-gutter: 0px;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --linear-grad: linear-gradient(
    90deg,
    rgb(255, 0, 0) 0%,
    rgb(255, 99, 8) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #777 #aaa;
}

::-webkit-scrollbar {
  width: 0.4em; /* Set a width for the scrollbar */

  @media (max-width: 675px) {
    // width: 0px;
    display: none;
  }
}

::-webkit-scrollbar-track {
  background: transparent; /* Set the track background color */
  width: 0;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #333; /* Set the thumb background color */
  border-radius: 4px;
}

.highlight {
  background: var(--linear-grad);
  transform: skew(-15deg) skewY(-2deg);
  color: white;
  padding: 3px 15px;
  // font-size: 28px;
  min-width: max-content;
  display: inline-block;
  p {
    transform: skew(15deg) skewY(2deg);
  }
}

.hidden {
  overflow-y: hidden;
  display: inline-block;
}

.page {
  padding-top: 80px;
  min-height: 100vh;
}
